@model IEnumerable<Movie>

@{
    Layout = "_AdminLayout";
}


<table>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Назва</th>
        <th scope="col">Вікове обмеження</th>
        <th scope="col">Дата виходу</th>
        <th scope="col">asd</th>
    </tr>
    @foreach (var movie in Model)
     {
            <tr>
                <td>@Html.DisplayFor(modelItem => movie.MovieId)</td>
                <td>@Html.DisplayFor(modelItem => movie.NameMovie)</td>
                <td>@Html.DisplayFor(modelItem => movie.AgeRestriction)</td>
                <td>@Html.DisplayFor(modelItem => movie.CreateAt)</td>
                <td>
                    <form method="post" asp-action="DeleteMovie" asp-route-id="@movie.MovieId">
                        <input type="submit" value="Delete"  >
                    </form>
                </td>
                <td><a asp-action="EditMovie" asp-route-id="@movie.MovieId">Оновити</a></td>
            </tr>
     }
</table>